*{
    background-color: #000000;
    color:#FFFFFF;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}
button{
    width: 300px;
    background-color: #FFFFFF;
    color:#000000;
    padding: 10px;
}
